:root {
  --primary: hsl(30, 100%, 88%);
  --secondary: #00067c;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
}

.button {
  color: var(--bg);
  background-color: var(--secondary);
}

.button-outline {
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

/* Hero Section */
.hero {
  margin: 2.5rem 9%;
  background-image: url("../image/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}
.hero .content {
  padding: 2.5rem 7%;
}

.hero .content h1 {
  font-size: 4rem;
  color: var(--secondary);
  line-height: 1.5;
}

.hero .content h2 {
  font-size: 2rem;
  color: var(--secondary);
}

.hero .content p {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.2;
}

.hero .content .action {
  margin-top: 2rem;
}

.hero .content .action a {
  display: inline-flex;
  padding: 0.8rem 2.2rem;
  font-size: 1.3rem;
  border-radius: 2rem;
}

.hero .content .action a:hover {
  transform: scale(1.05);
}

.hero .content .action .explore-now {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.hero .content .action .view-intro {
  gap: 0.5rem;
}

/* Product Section */
.products {
  margin: 4rem 9%;
}

.products .product-head {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.products .product-head .product-head-taqline p {
  font-weight: 600;
}

.products .product-head .product-head-taqline h3 {
  color: var(--secondary);
  font-size: 1.5rem;
  margin-top: 0.3rem;
}

.products .product-head a {
  padding: 0.3rem 1.3rem;
  font-size: 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.products .product-head a:hover {
  transform: scale(1.05);
}

.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.products .row .product-card {
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.products .row .product-card:hover {
  transform: scale(1.05);
}

.products .row .product-image {
  border-radius: 2rem;
}

.products .row .product-image img {
  border-radius: 1rem;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  object-position: center;
}

.products .row .product-card .product-content {
  margin-top: 1rem;
}

.products .row .product-card .product-content span {
  padding: 0.2rem 1.3rem;
  border-radius: 1rem;
  color: var(--bg);
  background-color: #0085e3;
}

.products .row .product-card .product-content h4 {
  margin: 1rem 0;
}

/* Footer */
footer {
  content: "";
  background-color: var(--primary);
  border-radius: 2rem 2rem 0 0;
}

footer main {
  padding: 4rem 9% 2.5rem 9%;
}

footer main .register {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 1.5rem;
}

footer main .register h2 {
  color: var(--bg);
  font-size: 1.8rem;
}

footer main .register form {
  background-color: var(--bg);
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  width: 70%;
}

footer main .register form .input-group {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #666;
}

footer main .register form .input-group input {
  padding: 1rem;
  font-size: 1rem;
  background: none;
  color: #666;
}

footer main .register form button {
  background-color: var(--secondary);
  color: var(--bg);
  font-size: 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  padding: 0.5rem;
  cursor: pointer;
}

footer main .register form button:hover {
  transform: scale(1.05);
}

footer main .navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #666;
}

footer main .navigation .socials,
footer main .navigation .links {
  margin: 2.5rem 0;
  display: flex;
  gap: 2rem;
}

footer main .navigation .socials a:hover,
footer main .navigation .links a:hover {
  color: var(--secondary);
  transform: scale(1.05);
}

footer main .footer {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer main .footer .footer-service {
  display: flex;
  gap: 1rem;
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  footer main .register {
    flex-wrap: wrap;
  }
}
